@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


$bg-project: rgba(255, 67, 67, 0.8);
$font: "Raleway", sans-serif;
$primary-color: #FFFFFF;
$btn-bg: #FF4343;
$text-color: #000000;
$text-color-feature: #6C7279;
$text-color-teams: #6C7279;
$tablet: 1024px;
$mobile: 767px;


@mixin font($size, $line-height, $weight: 400) {
    font-size: $size;
    line-height: $line-height;
    font-weight: $weight;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $font;
    overflow-x: hidden;
}

.promo__wrapper {
    background-image: url(../media/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    &::before {
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(37, 43, 73, 0.8);
        position: absolute;
        z-index: 1;
    }

}

.header,
.banner {
    position: relative;
    z-index: 2;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}


.header {
    padding: 38px 0 35px;
    border-bottom: 1px solid #BABBC5;

    @media screen and (max-width: $tablet) {
        padding: 38px 0 36px;

    }


    @media screen and (max-width: $mobile) {
        padding: 19px 0;
        border-bottom: none;
    }

    &__toggle {
        display: none;

        @media screen and (max-width: $mobile) {
            display: block;
        }
    }

    svg {
        width: 100%;
    }

    &__logo {
        display: inline-block;
        max-width: 183px;
        width: 100%;
    }


    &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}





    
}

.nav {


        &__list {
            display: flex;
            column-gap: 38px;
            list-style-type: none;
            text-transform: uppercase;

            @include font (12px, 14px, 700);

            @media screen and (max-width: $tablet) {
                column-gap: 25px;
            }

            @media screen and (max-width: $mobile) {
                display: none;
            }

        }

        &__link {
            color: $primary-color;
            text-decoration: none;

        }


    }


.banner {
    text-align: center;
    padding: 128px 0 120px;

    @media screen and (max-width: $tablet) {
        padding: 157px 0 126px;
    }

    @media screen and (max-width: $mobile) {
        padding: 106px 0 52px;
    }




    &__title {
        max-width: 984px;
        margin: 0 auto 61px;
        text-transform: uppercase;
        color: $primary-color;
        margin-bottom: 31px;

        @include font(64px, 75px, 900);

        @media screen and (max-width: $tablet) {
            @include font(48px, 56px, 900);
            margin-bottom: 61px;
        }

        @media screen and (max-width: $mobile) {
            @include font(36px, 42px, 900);
            margin-bottom: 40px;
        }


    }

    &__subtitle {
        max-width: 984px;
        margin: 0 auto 89px;
        color: $primary-color;
        margin-bottom: 79px;

        @include font(24px, 28px);

        @media screen and (max-width: $tablet) {
            @include font(18px, 21px);
            margin-bottom: 89px;
        }

        @media screen and (max-width: $mobile) {
            @include font(14px, 16px);
            margin-bottom: 59px;
        }

    }

    &__btn {
        min-width: 314px;
        padding: 30.5px;
        text-transform: uppercase;
        color: $primary-color;
        border: none;
        @include font(18px, 100%, 900);
        background-color: $btn-bg;

        @media screen and (max-width: $tablet) {
            @include font(24px, 100%, 900);
        }

        @media screen and (max-width: $mobile) {
            min-width: 279px;
            padding: 14px 46px 16px;
            @include font(24px, 28px, 900);
        }


    }
}


.download {
    text-align: center;
    padding: 170px 0;

    @media screen and (max-width: $tablet) {
        padding: 127px 0;
    }

    @media screen and (max-width: $mobile) {
        padding: 53px 0;
    }

    &__title {
        color: #000000;
        margin-bottom: 22px;
        @include font(30px, 35px, 500);


        @media screen and (max-width: $tablet) {
            margin-bottom: 20px;
            @include font(24px, 28px, 500);
        }

        @media screen and (max-width: $mobile) {
            margin-bottom: 12px;
            @include font(18px, 21px, 500);
        }
    }

    &__subtitle {
        color: #000000;
        margin-bottom: 50px;
        text-transform: uppercase;
        @include font(18px, 21px, 700);

        @media screen and (max-width: $tablet) {
            margin-bottom: 45px;
            @include font(14px, 16px, 700);
        }

        @media screen and (max-width: $mobile) {
            margin-bottom: 12px;
            @include font(13px, 15px, 700);
        }

    }

    &__btn {
        min-width: 565px;
        padding: 23px 79px 26px;
        text-transform: uppercase;
        color: $primary-color;
        border: none;
        @include font(24px, 28px, 900);
        background-color: $btn-bg;

        @media screen and (max-width: $tablet) {
            padding: 27px 27px 29px;
            @include font(18px, 21px, 900);

        }

        @media screen and (max-width: $mobile) {
            min-width: 280px;
            padding: 28px 0;
        }
    }
}

.features {
    padding: 100px 0;
    text-align: center;

    @media screen and (max-width: $tablet) {
        padding: 80px 0;
    }

    @media screen and (max-width: $mobile) {
        padding: 59px 0;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 31px;
        row-gap: 88px;
        width: 100%;

        @media screen and (max-width: $tablet) {
            column-gap: 20px;
            row-gap: 49px;
        }

        @media screen and (max-width: $mobile) {
            grid-template-columns: 1fr;
            row-gap: 41px;
        }
    }

    &__card {
       

        @media screen and (max-width: $mobile) {
            width: 100%;
        }
    }

    &__icon {
        margin-bottom: 51px;

        @media screen and (max-width: $tablet) {
            margin-bottom: 43px;
        }

        @media screen and (max-width: $mobile) {
            margin-bottom: 37px;
        }
    }

    svg {
        width: 100px;
        height: 100px;

        @media screen and (max-width: $tablet) {
            width: 85px;
            height: 85px;
        }

        @media screen and (max-width: $mobile) {
            width: 75px;
            height: 75px;
        }
    }

    &__title {
        margin-bottom: 42px;
        @include font(24px, 28px, 900);
        text-transform: uppercase;
        color: $text-color;

        @media screen and (max-width: $tablet) {
            margin-bottom: 23px;
            @include font(18px, 100%, 900);
        }

        @media screen and (max-width: $mobile) {
            margin-bottom: 8px;
            @include font(18px, 21px, 900);

        }
    }

    &__subtitle {
        @include font(18px, 21px);
        color: $text-color-feature;

        @media screen and (max-width: $tablet) {
            @include font(14px, 100%);
        }

        @media screen and (max-width: $mobile) {
            @include font(14px, 16px);
        }
    }


}

.projects{
   

    &__container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0;
        max-width: 100%;
        padding: 0;


        @media screen and (max-width: $mobile) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.project{
    aspect-ratio: 378/340;
    overflow: hidden;
    position: relative;
    width: 100%;
    border: 2px solid $primary-color;

    &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
    

    &__content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $bg-project;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;

        opacity: 0;

        &:hover{
            opacity: 1;
        }

        
    }

    &__title{
        color:$primary-color;
        margin-bottom: 22px;
        @include font(18px, 21px, 900);
        text-transform: uppercase;

        @media screen and (max-width: $mobile) {
            margin-bottom: 7px;
        }
    }

    &__text{
        color:$primary-color;
        @include font(14px, 16px);
    }
}

.teams{
    padding: 100px 0;

    &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    width: 100%;
}
}

.team__card{

    &-image{
        margin-bottom: 21px;
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    &-person{
        color: #2D3033;
        @include font(24px, 28px, 700);
        margin-bottom: 6px;
    }

    &-position{
        color: #FF4343;
        @include font(18px, 21px);
        text-transform: uppercase;
        margin-bottom: 17px;
    }

    &-bio{
        color: $text-color-teams;
        @include font(18px, 21px);
        margin-bottom: 37px;
    }

    &-social{
        list-style: none;
        column-gap: 6px;
        display: flex;

    }
    
}

